header {
  color: white;
  background-color: black;
}

header h1 {
  text-transform: uppercase;
  margin: 10px;
  font-size: 80px;
  display: inline;
  vertical-align: baseline;
}

header img {
  padding: 10px;
}



nav {
  background-color: #ff004d;
  text-align: right;
  padding: 30px;
}

nav a {
  margin: 10px;
  font-family: arial;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  background-color: black;
}
