header {
  color: white;
  background-color: black;
}

header h1 {
  text-transform: uppercase;
  font-size: 40px;
  display: inline;
  font-family: arial;
}

header h2 {
  font-size: 15px;
  font-family: arial;
  width: 300px;
}

header img {
  padding: 10px;
  vertical-align: middle;
}

nav {
  background-color: #ff004d;
  text-align: right;
  padding: 5px 30px;
}

nav a {
  margin: 0px 10px;
  font-family: arial;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}

nav a:hover {
  background-color: blue;
}

body {
  background-color: black;
}
